// SPDX-License-Identifier: LicenseRef-UT-PEL-1.0
// Copyright (c) 2025 UZ Learn Try. All rights reserved.


lessons.code-workspace

// Lesson content documentation
lesson-plan
lesson-plan.docx
lesson-plan-custom
lesson-plan-custom.docx

// Demo for personal testing only
test.html

// Archives
problems.zip
lessons.zip

// Text files
updates.txt
jump-options.txt
updates-required.txt
yt-banner-description.txt
lesson-teaching-strategy.txt

// Word documents
11-lesson-plan.docx