// SPDX-License-Identifier: LicenseRef-UT-PEL-1.0
// Copyright (c) 2025 UZ Learn Try. All rights reserved.


lessons.code-workspace

lesson-plan
lesson-plan.docx
lesson-plan-custom
lesson-plan-custom.docx

11-lesson-plan.docx

test.html

updates-required.txt
yt-banner-description.txt

problems.zip
lessons.zip

updates.txt
jump-options.txt